In [3]:
import pandas as pd
import numpy as np

In [4]:
positives=pd.read_csv("positives.csv")
positives.head()

,time,aspect,burned_areas,curvature,d2m,dem,ignition_points,lai,lst_day,lst_night,...,lc_grassland,lc_settlement,lc_shrubland,lc_sparse_vegetation,lc_water_bodies,lc_wetland,population,burned_area_has,time_idx,sample
0,2006-07-29,182.7782,0.0,-1469.6869,289.78036,142.89676,0.0,0.5,321.16000,295.52000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.20321,40.0,0,0
1,2006-07-30,182.7782,0.0,-1469.6869,290.09662,142.89676,0.0,0.5,317.60000,293.63998,...,0.0,0.0,0.0,0.0,0.0,0.0,0.20321,40.0,1,0
2,2006-07-31,182.7782,0.0,-1469.6869,290.19055,142.89676,0.0,0.5,316.90000,293.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.20321,40.0,2,0
3,2006-08-01,182.7782,0.0,-1469.6869,290.22266,142.89676,0.0,0.5,316.80000,294.66000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.20321,40.0,3,0
4,2006-08-02,182.7782,0.0,-1469.6869,290.36680,142.89676,0.0,0.5,315.41998,295.91998,...,0.0,0.0,0.0,0.0,0.0,0.0,0.20321,40.0,4,0

In [6]:
negatives=pd.read_csv("negatives.csv")

In [11]:
negatives

,time,aspect,burned_areas,curvature,d2m,dem,ignition_points,lai,lst_day,lst_night,...,lc_grassland,lc_settlement,lc_shrubland,lc_sparse_vegetation,lc_water_bodies,lc_wetland,population,burned_area_has,time_idx,sample
0,2006-04-02,6.933952,0.0,-27.86932,285.72403,10.045106,0.0,NaN,300.38000,287.24,...,0.0,0.0,0.0,0.0,0.0,0.0,510.946840,0.0,0,0
1,2006-04-03,6.933952,0.0,-27.86932,284.85710,10.045106,0.0,NaN,300.00000,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,510.946840,0.0,1,0
2,2006-04-04,6.933952,0.0,-27.86932,286.72308,10.045106,0.0,NaN,299.80000,284.40,...,0.0,0.0,0.0,0.0,0.0,0.0,510.946840,0.0,2,0
3,2006-04-05,6.933952,0.0,-27.86932,285.88174,10.045106,0.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,510.946840,0.0,3,0
4,2006-04-06,6.933952,0.0,-27.86932,286.33005,10.045106,0.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,510.946840,0.0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520255,2022-09-25,3.546495,0.0,19832.52000,286.20728,1145.075400,0.0,0.8,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,13.033438,0.0,25,17341
520256,2022-09-26,3.546495,0.0,19832.52000,283.32666,1145.075400,0.0,0.8,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,13.033438,0.0,26,17341
520257,2022-09-27,3.546495,0.0,19832.52000,283.23392,1145.075400,0.0,0.8,293.06000,285.18,...,0.0,0.0,0.0,0.0,0.0,0.0,13.033438,0.0,27,17341
520258,2022-09-28,3.546495,0.0,19832.52000,284.11914,1145.075400,0.0,0.8,295.28000,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,13.033438,0.0,28,17341
520259,2022-09-29,3.546495,0.0,19832.52000,284.95862,1145.075400,0.0,0.8,289.91998,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,13.033438,0.0,29,17341